
#mekong-color,.mekong-color {
    color: #06c
}

#cambodia-color,.cambodia-color {
    color: #00a600
}

#laos-color,.laos-color {
    color: #d61e2a
}

#myanmar-color,.myanmar-color {
    color: #e29000
}

#thailand-color,.thailand-color {
    color: #e25d13
}

#vietnam-color .vietnam-color {
    color: #a89b04
}

#od-head h1 {
    color: ##2a2d56!important
}

#od-head {
    background: #292d56;
    padding: 10px
}

#od-head #icon-od-logo {
    display: inline-block;
    margin-right: 10px;
    float: left
}

#od-head #icon-od-logo .svg-od-logo {
    width: 40px;
    height: 68px;
    fill: #6393d2
}

#od-selector #icon-od-logo {
    display: inline-block;
    margin-right: 3px;
    float: left
}

#od-selector #icon-od-logo .svg-od-logo {
    width: 16px;
    height: 16px
}

.mekong-logo {
    fill: #6393d2
}

.cambodia-logo {
    fill: #97d320
}

.laos-logo {
    fill: #d61e2a
}

.myanmar-logo {
    fill: #f8bf42
}

.thailand-logo {
    fill: #f7904d
}

.vietnam-logo {
    fill: #beab74
}

#od-breadcrumb .row,#od-head .row,#od-menu .row,#od-selector .row {
    margin: 0
}
#od-selector {
    position: static;
    top: 30px;
    width: 100%;
    height: 26px;
    z-index: 999999;
    padding: 5px;
    background: #292d56;
    border-bottom: 0px solid #6393d2;
    margin: 0;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.1)
}

#od-selector a {
    font-size: small;
    color: #fff;
    text-decoration: none
}
#od-selector ul,#od-selector ul li {
    margin: 0;
    padding: 0;
    float: left;
    font-size: small;
    padding: 2px 12px 2px 0;
    list-style: none
}
#od-head {
    margin-top: 26px;
    padding: 10px;
    background: #292d56;
    min-height: 72px
}

#od-head h1 {
    font-family: 'Droid Serif';
    text-decoration: none;
    color: #6393d2;
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: -4px;
    float: left;
    margin: 10px 24px 0 0
}

#od-head h1 sup {
    font-size: 55%;
    position: relative;
    vertical-align: baseline;
    top: -10px
}
#od-head h2.side-title {
    font-family: 'Droid Serif';
    font-size: 30px;
    line-height: 48px;
    float: left;
    margin: 16px 0 0 0;
    color: #fff
}

.social {
    padding: 10px;
    text-align: right;
    margin-top: 18px
}

.social a {
    margin-left: 6px;
    color: #fff
}

.social i {
    color: #fff;
    font-size: 24px
}
